
.page{
    width: 100%;
    height: 100%;
}

.icon-sm{
    width: 1.4em !important;
    height: 1.4em !important;
}
.icon-md{
    width: 2em !important;
    height: 2em !important;
}
.icon-lg{
    width: 4em !important;
    height: 4em !important;
}
.icon-xl{
    width: 5em !important;
    height: 5em !important;
}

.bg-instagram { 
    overflow: hidden;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.bg-twitter {
    background: #1DA1F2;
}
.bg-telegram{
    background: #0088cc;
}

.bg-linkedin{
    background: #0072b1;
}

.bg-facebook{
    background: #0072b1;
}


.floating{
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    transition: all;
    animation: floating-animation 8s infinite  forwards;
    transition-delay: 0s;
}
.floating:nth-child(1)  {
    animation-delay: 0.0s;
  }
.floating:nth-child(2)  {
    animation-delay: 1.0s;
  }
.floating:nth-child(3)  {
    animation-delay: 2.15s;
  }
.floating:nth-child(4)  {
    animation-delay: 3.2s;
  }
.floating:nth-child(5)  {
    animation-delay: 4.25s;
  }
@keyframes floating-animation {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-10px);
	}
	100% {
		
		transform: translatey(0px);
	}
}

.floating-sm{
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    transition: all;
    animation: floating-animation-sm 8s infinite  forwards;
    transition-delay: 0s;
}
.floating-sm:nth-child(1)  {
    animation-delay: 0.0s;
  }
.floating-sm:nth-child(2)  {
    animation-delay: 1.0s;
  }
.floating-sm:nth-child(3)  {
    animation-delay: 2.15s;
  }
.floating-sm:nth-child(4)  {
    animation-delay: 3.2s;
  }
.floating-sm:nth-child(5)  {
    animation-delay: 4.25s;
  }
.floating-sm:nth-child(6)  {
    animation-delay: 6.0s;
  }
.floating-sm:nth-child(7)  {
    animation-delay: 7.0s;
  }
.floating-sm:nth-child(8)  {
    animation-delay: 8.15s;
  }
.floating-sm:nth-child(9)  {
    animation-delay: 9.2s;
  }
.floating-sm:nth-child(10)  {
    animation-delay: 10.25s;
  }
@keyframes floating-animation-sm {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-5px);
	}
	100% {
		
		transform: translatey(0px);
	}
}


.floating-lg{
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
  transition: all;
  animation: floating-animation-sm 8s infinite  forwards;
  transition-delay: 0s;
}
.floating-lg:nth-child(1)  {
  animation-delay: 0.0s;
}
.floating-lg:nth-child(2)  {
  animation-delay: 2.0s;
}
.floating-lg:nth-child(3)  {
  animation-delay: 3.15s;
}
.floating-lg:nth-child(4)  {
  animation-delay: 4.2s;
}
.floating-lg:nth-child(5)  {
  animation-delay: 5.25s;
}
.floating-lg:nth-child(6)  {
  animation-delay: 6.0s;
}
.floating-lg:nth-child(7)  {
  animation-delay: 7.0s;
}
.floating-lg:nth-child(8)  {
  animation-delay: 8.15s;
}
.floating-lg:nth-child(9)  {
  animation-delay: 9.2s;
}
.floating-lg:nth-child(10)  {
  animation-delay: 10.25s;
}
@keyframes floating-animation-lg {
0% {
  
  transform: translatey(0px);
}
50% {
  
  transform: translatey(-20px);
}
100% {
  
  transform: translatey(0px);
}
}